<div class="wrapper login-page">
  <div class="cont-img">
    <div class="page-fixed">
      <div class="grid">
        <div class="grid-item large--four-fifths push--large--one-tenth contact-form">

          <div class="note form-success" id="resetSuccess" style="display:none;">
            We've sent you an email with a link to update your password.
          </div>

          {% form 'customer_login' %}
          <div class="page-heading">
            <h2>{{ 'customer.login.title' | t }}</h2>
          </div>
          {% include 'form-errors-custom' %}

          <label for="customer_email" class="form-label">{{ 'customer.login.email' | t }}</label>
          <input type="email" value="" name="customer[email]" id="customer_email" placeholder="{{ 'customer.login.email' | t }}" {% if form.errors contains "email" %} class="error"{% endif %} autocorrect="off" autocapitalize="off" autofocus>

          {% if form.password_needed %}

          <label for="customer_password" class="form-label">{{ 'customer.login.password' | t }}</label>
          <input type="password" value="" name="customer[password]" id="customer_password" placeholder="{{ 'customer.login.password' | t }}" {% if form.errors contains "password" %} class="error"{% endif %}>
          {% endif %}
          <div class="text-center login-btn">
            <div class="btn-wrap">
              <input type="submit" class="btn" value="{{ 'customer.login.sign_in' | t }}">
            </div>
          </div>
          <div class="text-center forgot-wrap">
            <a href="#" onclick="showRecoverPasswordForm();return false;">{{ 'customer.login.forgot_password' | t }}</a>
            <span> {{ 'customer.login.or' | t }}</span> <a href="/account/register">Sign Up</a>
          </div>


          {% endform %}


          {% comment %}
          This page uses JavaScript to show/hide the recover password form
          {% endcomment %}
          <div id="recover_password" style="display: none;">
            <div class="page-heading">
              <h2>{{ 'customer.recover_password.title' | t }}</h2>
              <p class="text-center">{{ 'customer.recover_password.subtext' | t }}</p>
            </div>


            {% form 'recover_customer_password' %}

            {% include 'form-errors-custom' %}

            {% if form.posted_successfully? %}
            {% assign reset_success = true %}
            {% endif %}

            <label for="recover-email" class="form-label">{{ 'customer.recover_password.email' | t }}</label>
            <input type="email" value="" name="email" id="recover-email" placeholder="{{ 'customer.recover_password.email' | t }}" autocorrect="off" autocapitalize="off">

            <div class="text-center login-btn">
              <div class="btn-wrap">
                <input type="submit" class="btn" value="{{ 'customer.recover_password.submit' | t }}">
              </div>
            </div>
            <div class="text-center forgot-wrap">
              <span>{{ 'customer.login.or' | t }} </span>
              <a href="#" onclick="hideRecoverPasswordForm();return false;">{{ 'customer.recover_password.cancel' | t }}</a>
            </div>

            {% endform %}

          </div>

          {% if shop.checkout.guest_login %}
          <hr>

          <h2>{{ 'customer.login.guest_title' | t }}</h2>

          {% form 'guest_login' %}
          <input  type="submit" class="btn" value="{{ 'customer.login.guest_continue' | t }}">
          {% endform %}

          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>



<script>
  /*
    Show/hide the recover password form when requested.
  */
  function showRecoverPasswordForm() {
    document.getElementById('recover_password').style.display = 'block';
    document.getElementById('customer_login').style.display='none';
  }

  function hideRecoverPasswordForm() {
    document.getElementById('recover_password').style.display = 'none';
    document.getElementById('customer_login').style.display = 'block';
  }

  // Allow deep linking to the recover password form
  if (window.location.hash == '#recover') { showRecoverPasswordForm() }

  // reset_success is only true when the reset form is
  {% if reset_success %}
  document.getElementById('resetSuccess').style.display = 'block';
  {% endif %}
</script>
