<header class="site-header" role="banner" data-section-id="{{ section.id }}" data-section-type="header-section">
  <div class="wrapper"> 

    <div class="grid--full ">
      <div class="grid-item large--one-third header-left text-right animatable fadeIn">
        {% include 'left-site-nav' %}

      </div>
      <div class="grid-item large--one-third header-mid ">
        {% if request.page_type == 'index' %}
        <div class="add-link-class header-logo" itemscope itemtype="http://schema.org/Organization">
          {% else %}
          <div class="h1 header-logo" itemscope itemtype="http://schema.org/Organization">
            {% endif %}
            {% if section.settings.logo %}
            {% capture image_size %}{{ section.settings.logo_max_width | escape }}{% endcapture %}
            {%- assign img_url = section.settings.logo | img_url: image_size -%}
            {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
            <a href="{{ routes.root_url }}" itemprop="url">
              <div class="lazyload__image-wrapper1 small--hide no-js header-logo__image">
                <div>
                  <img class="lazyload js animatable animate__zoomIn"
                       data-src="{{ img_url }}"
                       data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                       data-aspectratio="{{ section.settings.logo.aspect_ratio }}"
                       data-sizes="auto"
                       alt="{{ logo_alt | escape }}">
                </div>
              </div>
              <noscript>
                {% capture image_size %}{{ section.settings.logo_max_width | escape }}{% endcapture %}
                <img src="{{ section.settings.logo | img_url: image_size }}"
                     srcset="{{ section.settings.logo | img_url: image_size }}, {{ section.settings.logo | img_url: image_size, scale: 1 }}"
                     alt="{{ logo_alt | escape }}"
                     itemprop="logo">
              </noscript>

            {% capture mob_image_size %}{{ section.settings.mob_logo_max_width | escape }}{% endcapture %}
            {%- assign mob_img_url = section.settings.mob_logo | img_url: mob_image_size -%}
            {% capture mob_logo_alt %}{{ section.settings.mob_logo.alt | default: shop.name }}{% endcapture %}
 
            <div class="mob_logo large--hide medium--hide lazyload__image-wrapper1 no-js header-logo__image" >
                <div>
                  <img class="lazyload js"
                       data-src="{{ mob_img_url }}"
                       data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                       data-aspectratio="{{ section.settings.mob_logo.aspect_ratio }}"
                       data-sizes="auto"
                       alt="{{ mob_logo_alt | escape }}"
                       >
                </div>
              </div>
              <noscript>
                {% capture mob_image_size %}{{ section.settings.mob_logo_max_width | escape }}x{% endcapture %}
                <img src="{{ section.settings.mob_logo | img_url: mob_image_size }}"
                     srcset="{{ section.settings.mob_logo | img_url: mob_image_size }}"
                     alt="{{ mob_logo_alt | escape }}"
                     itemprop="logo"
                    >
              </noscript>

            </a>
            {% else %}
            <a href="{{ routes.root_url }}" itemprop="url">{{ shop.name }}</a>
            {% endif %}
            {% if request.page_type == 'index' %}
          </div>
          {% else %}
        </div>
        {% endif %}
      </div>

      <div class="grid-item large--one-third header-right text-left  animatable fadeIn">

        {% include 'right-site-nav' %}

        
        <div class="add-link-class header-cart-btn {% if cart.item_count > 0 %}countvalue{% endif  %}">
          <a href="{{ routes.cart_url }}" class="cart-toggle">
            <div class="input-bg ">
              <div class="input-left"></div>
              <div class="input-right"></div>
              <div class="input-bottom"></div>
              <span class="icon-icon-cart"></span>
              <span class="desktop-cart cart-count cart-count1 cart-badge--desktop1 {% if cart.item_count == 0 %}hidden-count1{% endif %}">{{ cart.item_count }}</span>
            </div>
          </a>

          <div class="cart-dropdown-content">
            <div class="cart-inner-content">
              {% if cart.item_count  == 0 %}
              <div class="js-empty-cart__message">
                <p class="empty_cart">Your Cart is Empty</p>
              </div>
              {% else %}
              <div class="items-container">
                {% for item in cart.items %}
                <div class="cart-row" data-line="{{ forloop.index }}">
                  <div class="grid--full">
                    <div class="grid-item one-third large--one-quarter">
                      <a href="{{ item.url }}" class="cart-image">
                        <img src="{{ item | img_url: 'medium' }}"  alt="{{ item.title | escape }}">
                      </a>
                    </div>
                    <div class="grid-item two-thirds large--three-quarters">
                      <div class="product-right">
                      <a href="{{ item.url }}">
                        {{ item.product.title }}
                      </a>                
                      <div class="qty-price">
                        {{ item.quantity }} x {{ item.final_line_price | money }}
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
              <div class="cart__footer">
                <div class="total-container">
                  <div class="no-of-item">Number of items <span class="qty-count">{{cart.item_count}}</span></div>
                  <div class="item-total">
                    Item total:
                    <span class="cart-subtotal--price">
                      {% include 'price' with cart.total_price %}
                    </span>
                  </div>
                </div>
                <div class="checkout-container">
                  <div class="btn-wrap">
                  <a class="btn" href="/checkout">Checkout</a>
                    </div>
                  <a class="cart-link" href="/cart">View Cart</a>

                </div>

                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</header>

<div id="mobileNavBar">
  <div class="display-table-cell">
    <button class="menu-toggle mobileNavBar-link" aria-controls="navBar" aria-expanded="false"><span class="icon icon-hamburger" aria-hidden="true"></span></button>
  </div>
  <div class="display-table-cell">
    <a href="{{ routes.cart_url }}" class="cart-toggle mobileNavBar-link">
      <span class="icon-icon-cart"></span>
      <span class="cart-count1 {% if cart.item_count == 0 %}hidden-count1{% endif %}">{{ cart.item_count }}</span>
    </a>
  </div>
</div>

<nav class="nav-bar" id="navBar" role="navigation">
  <div class="wrapper">
    {% include 'search-bar' %}
    {% include 'mobile-nav' %}
  </div>
</nav>


<div class="announcment animatable fadeInUp">{% if section.settings.show_announcement %}
  <h2>
    {{ section.settings.announcement_text  }}
  </h2>
  {% endif %}
  {% include 'search-bar' %}
</div>
{% comment %}
<script>
{% endcomment %}

{% schema %}
{
"name": {
"da": "Overskrift",
"de": "Titel",
"en": "Header",
"es": "Encabezado",
"fi": "Ylätunniste",
"fr": "En-tête",
"hi": "हैडर",
"it": "Header",
"ja": "ヘッダー",
"ko": "머리글",
"nb": "Header",
"nl": "Koptekst",
"pt-BR": "Cabeçalho",
"pt-PT": "Cabeçalho",
"sv": "Rubrik",
"th": "ส่วนหัว",
"zh-CN": "标头",
"zh-TW": "標頭"
},
"class": "header-section",
"settings": [
{
"type": "link_list",
"id": "menu",
"label": {
"da": "Menu",
"de": "Menü",
"en": "Mobile Menu",
"es": "Menú",
"fi": "Valikko",
"fr": "Menu",
"hi": "मेनू",
"it": "Menu",
"ja": "メニュー",
"ko": "메뉴",
"nb": "Meny",
"nl": "Menu",
"pt-BR": "Menu",
"pt-PT": "Menu",
"sv": "Meny",
"th": "เมนู",
"zh-CN": "菜单",
"zh-TW": "選單"
},
"default": "main-menu"
},


{
"type": "link_list",
"id": "left-menu",
"label": {
"da": "Left Menu",
"de": "Left Menü",
"en": "Left Menu",
"es": "Left Menú",
"fi": "Valikko",
"fr": "Menu",
"hi": "मेनू",
"it": "Menu",
"ja": "メニュー",
"ko": "메뉴",
"nb": "Meny",
"nl": "Menu",
"pt-BR": "Menu",
"pt-PT": "Menu",
"sv": "Meny",
"th": "เมนู",
"zh-CN": "菜单",
"zh-TW": "選單"
},
"default": "main-menu"
},

{
"type": "link_list",
"id": "right-menu",
"label": {
"da": "Right Menu",
"de": "Right Menü",
"en": "Right Menu",
"es": "Right Menú",
"fi": "Valikko",
"fr": "Menu",
"hi": "मेनू",
"it": "Menu",
"ja": "メニュー",
"ko": "메뉴",
"nb": "Meny",
"nl": "Menu",
"pt-BR": "Menu",
"pt-PT": "Menu",
"sv": "Meny",
"th": "เมนู",
"zh-CN": "菜单",
"zh-TW": "選單"
},
"default": "main-menu"
},





{
"type": "header",
"content": {
"da": "Logo",
"de": "Logo",
"en": "Logo",
"es": "Logo",
"fi": "Logo",
"fr": "Logo",
"hi": "लोगो",
"it": "Logo",
"ja": "ロゴ",
"ko": "로고",
"nb": "Logo",
"nl": "Logo",
"pt-BR": "Logotipo",
"pt-PT": "Logótipo",
"sv": "Logotyp",
"th": "โลโก้",
"zh-CN": "logo",
"zh-TW": "商標"
}
},
{
"type": "image_picker",
"id": "logo",
"label": {
"da": "Tilpasset logo",
"de": "Benutzerdefiniertes Logo",
"en": "Custom logo",
"es": "Logo personalizado",
"fi": "Mukautettu logo",
"fr": "Logo personnalisé",
"hi": "कस्टम लोगो",
"it": "Logo personalizzato",
"ja": "ロゴをカスタムする",
"ko": "사용자 지정 로고",
"nb": "Tilpasset logo",
"nl": "Aangepast logo",
"pt-BR": "Logotipo personalizado",
"pt-PT": "Logótipo personalizado",
"sv": "Anpassad logotyp",
"th": "โลโก้แบบกำหนดเอง",
"zh-CN": "自定义 logo",
"zh-TW": "自訂商標"
},
"info": {
"da": ".png med bredde på 400 px anbefales",
"de": "400px breite .png empfohlen",
"en": "400px wide .png recommended",
"es": "400px de ancho .png recomendado",
"fi": "200 px leveä .png suositeltu",
"fr": "400 px de largeur .png recommandé",
"hi": "400px चौड़ा .png अनुसंशा की गई",
"it": "Consigliato file .png con larghezza 400 pixel",
"ja": "400ピクセル幅.png推奨",
"ko": "400 픽셀 와이드 .png 권장",
"nb": ".png med bredde på 400 piksler anbefalt",
"nl": "400px breed .png aanbevolen",
"pt-BR": ".png com 400 px de largura recomendado",
"pt-PT": ".png com 400 px de largura recomendado",
"sv": "200px bred .png rekommenderade",
"th": "แนะนำ ความกว้าง 400px .png",
"zh-CN": "建议使用 400 px 宽的 .png",
"zh-TW": "400px wide .png建議"
}
},
{
"type": "text",
"id": "logo_max_width",
"label": {
"da": "Tilpasset logobredde",
"de": "Logobreite",
  "en": "Custom logo size : 180x63",
"es": "Ancho del logo personalizado",
"fi": "Mukautetun logon leveys",
"fr": "Largeur personnalisée du logo",
"hi": "कस्टम लोगो की चौड़ाई",
"it": "Larghezza logo personalizzato",
"ja": "ロゴの幅をカスタマイズする",
"ko": "사용자 지정 로고 폭",
"nb": "Tilpasset logobredde",
"nl": "Aangepaste logo-breedte",
"pt-BR": "Largura do logotipo personalizado",
"pt-PT": "Largura de logótipo personalizada",
"sv": "Anpassad logotypsbredd",
"th": "ความกว้างของโลโก้ที่กำหนดเอง",
"zh-CN": "自定义 logo 宽度",
"zh-TW": "自訂商標寬度"
},
"default": {
"da": "305",
"de": "305",
"en": "305",
"es": "305",
"fi": "305",
"fr": "305",
"hi": "305",
"it": "305",
"ja": "305",
"ko": "305",
"nb": "305",
"nl": "305",
"pt-BR": "305",
"pt-PT": "305",
"sv": "305",
"th": "305",
"zh-CN": "305",
"zh-TW": "305"
}
},
  
{
"type": "image_picker",
"id": "mob_logo",
"label": {
"da": "Tilpasset logo",
"de": "Benutzerdefiniertes Logo",
"en": "Custom logo for mobile",
"es": "Logo personalizado",
"fi": "Mukautettu logo",
"fr": "Logo personnalisé",
"hi": "कस्टम लोगो",
"it": "Logo personalizzato",
"ja": "ロゴをカスタムする",
"ko": "사용자 지정 로고",
"nb": "Tilpasset logo",
"nl": "Aangepast logo",
"pt-BR": "Logotipo personalizado",
"pt-PT": "Logótipo personalizado",
"sv": "Anpassad logotyp",
"th": "โลโก้แบบกำหนดเอง",
"zh-CN": "自定义 logo",
"zh-TW": "自訂商標"
}
},  
 {
"type": "text",
"id": "mob_logo_max_width",
"label": {
"da": "Tilpasset logobredde",
"de": "Logobreite",
  "en": "Custom logo size for mobile : 212x74",
"es": "Ancho del logo personalizado",
"fi": "Mukautetun logon leveys",
"fr": "Largeur personnalisée du logo",
"hi": "कस्टम लोगो की चौड़ाई",
"it": "Larghezza logo personalizzato",
"ja": "ロゴの幅をカスタマイズする",
"ko": "사용자 지정 로고 폭",
"nb": "Tilpasset logobredde",
"nl": "Aangepaste logo-breedte",
"pt-BR": "Largura do logotipo personalizado",
"pt-PT": "Largura de logótipo personalizada",
"sv": "Anpassad logotypsbredd",
"th": "ความกว้างของโลโก้ที่กำหนดเอง",
"zh-CN": "自定义 logo 宽度",
"zh-TW": "自訂商標寬度"
},
"default": {
"da": "305",
"de": "305",
"en": "305",
"es": "305",
"fi": "305",
"fr": "305",
"hi": "305",
"it": "305",
"ja": "305",
"ko": "305",
"nb": "305",
"nl": "305",
"pt-BR": "305",
"pt-PT": "305",
"sv": "305",
"th": "305",
"zh-CN": "305",
"zh-TW": "305"
}
}, 
  
{
"type": "header",
"content": {
"da": "Meddelelseslinje",
"de": "Ankündigungsbereich",
"en": "Announcement bar",
"es": "Barra de anuncios",
"fi": "Ilmoituspalkki",
"fr": "Barre d'annonces",
"hi": "घोषणा बार",
"it": "Barra degli annunci",
"ja": "告知バー",
"ko": "공지 표시줄",
"nb": "Kunngjøringslinje",
"nl": "Aankondigingsbalk",
"pt-BR": "Barra de avisos",
"pt-PT": "Barra de comunicado",
"sv": "Meddelandefält",
"th": "แถบประกาศ",
"zh-CN": "公告栏",
"zh-TW": "公告列"
}
},
{
"type": "checkbox",
"id": "show_announcement",
"label": {
"da": "Vis meddelelse",
"de": "Ankündigung anzeigen",
"en": "Show announcement",
"es": "Mostrar anuncio",
"fi": "Näytä ilmoitus",
"fr": "Afficher l'annonce",
"hi": "घोषणा डिखाएं",
"it": "Mostra annuncio",
"ja": "告知を表示する",
"ko": "공지 표시",
"nb": "Vis kunngjøring",
"nl": "Aankondiging weergeven",
"pt-BR": "Exibir anúncio",
"pt-PT": "Mostrar comunicado",
"sv": "Visa tillkännagivande",
"th": "แสดงประกาศ",
"zh-CN": "显示公告",
"zh-TW": "顯示公告"
},
"default": false
},
{
"type": "text",
"id": "announcement_text",
"label": {
"da": "Tekst",
"de": "Text",
"en": "Text",
"es": "Texto",
"fi": "Teksti",
"fr": "Texte",
"hi": "टेक्स्ट",
"it": "Testo",
"ja": "テキスト",
"ko": "텍스트",
"nb": "Tekst",
"nl": "Tekst",
"pt-BR": "Texto",
"pt-PT": "Texto",
"sv": "Text",
"th": "ข้อความ",
"zh-CN": "文本",
"zh-TW": "文字"
},
"default": {
"da": "Meddel noget her",
"de": "Hier etwas ankündigen",
"en": "Announce something here",
"es": "Anuncia algo aquí",
"fi": "Ilmoita jotakin tässä",
"fr": "Annoncez quelque chose ici",
"hi": "यहां कुछ घोषित करें",
"it": "Annuncia qualcosa qui",
"ja": "ここで告知してください",
"ko": "여기에 공지하십시오",
"nb": "Kunngjør noe her",
"nl": "Kondig hier iets aan",
"pt-BR": "Anuncie algo aqui",
"pt-PT": "Anunciar algo aqui",
"sv": "Meddela något här",
"th": "ประกาศข้อความที่นี่",
"zh-CN": "在此处进行公告",
"zh-TW": "在此公告資訊"
}
}    
]
}
{% endschema %}
